*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
nav{
	display: grid;
	grid-template-columns: 10% 1fr 1fr 10%;
	min-height: 10vh;
	color: white;
	align-items: center;
}

h1{
	text-align: center;
	text-shadow: 2px 2px #ff0000;
	text-decoration-color: white;
	font-size: 50px;
}
section{
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
	background: black;

}
.slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background:linear-gradient(to left, lightblue, #123456);
	z-index: -1;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.hamburger{
	justify-self: end;
	width: 30px;
	height: 30px;
}
.hero{
	height: 60%;
	width: 100%;
	position: relative;
}
.hero img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero::after{
	content: "";
	background:pink;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0.4;
}
.headline{
	position: absolute;
	top: 70%;
	left: 10%;
	font-size: 100px;
	transform: translate(-20%, -70%);
	color: white;
}
#logo{
	grid-column: 2/3;
	font-size: 24px;
}
